.addsearch-pagination {
  clear: both;
  padding: 1em 0;

  button {
    background-color: #fff;
    border: 1px solid #dedede;
    cursor: pointer;
  }

  button[data-active="true"] {
    font-weight: bold;
  }
}

