section {
  display: flex;
  flex-direction: row;
}

aside {
  width: 200px;
}

aside ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}


main {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 600px) {
  aside {
    position: absolute;
    display: none;
    width: 200px;
  }
}