@import "../../variables";

.addsearch-autocomplete {
  position: absolute;
  background-color: #fff;
  min-width: 300px;

  ul {
    border: 1px solid $border-color;
    list-style: none;
    margin: 0;
    padding: 0;
    border-radius: 0 0 2px 2px;
  }
  li {
    cursor: pointer;
    padding: 5px 8px;
  }
  li.active {
    background-color: $active-background;
  }
}