<div class="addsearch-facets">
  <ul>
  {{#each facets}}
    <li data-facet="{{value}}">
      <label>
        <input type="checkbox" value="{{value}}" />
        <span>{{snipFacet value}}</span> <em>({{count}})</em>
      </label>
    </li>
  {{/each}}
  </ul>
</div>