<div class="addsearch-searchresults">
  {{#each all-results/hits}}
    <div class="hit">
      <h3>
        <a href="{{url}}" data-analytics-click="{{id}}">{{title}}</a>
      </h3>
      <div class="highlight">
        {{{highlight}}}..
      </div>
    </div>
  {{/each}}
</div>