<div class="addsearch-sortby">
  <select>
    {{#each options}}
      <option data-field={{sortBy}} data-order={{order}} {{#if active}}selected="selected"{{/if}}>{{label}}</option>
    {{/each}}
  </select>
</div>