<div class="addsearch-sortby-radiogroup">
  {{#each options}}
    <label>
      <input type="radio" name={{../containerId}} data-field={{sortBy}} data-order={{order}} value="" {{#if active}}checked{{/if}}>{{label}}
    </label>
  {{/each}}
</div>