/* Demo page layout */
* {
  box-sizing: border-box;
}
body {
  font-family: 'Lato', sans-serif;
  margin: 0;
  min-width: 300px;
}
header {
  margin: 0 20px;
  padding-top: 1em;
  text-align: center;
}

header section > div {
  margin: 10px;
}
aside {
  width: 300px;
  float: left;
  padding: 30px 20px 0 20px;
}
aside > div {
  margin-bottom: 30px;
}

main {
  margin-left: 300px;
  overflow: hidden;
  padding-right: 20px;
  display: block;
}

section {
  border: 1px dashed #dedede;
  border-radius: 10px;
  margin-bottom: 1em;
  font-size: 11px;
  padding: 1em;
  color: #fda675;
}
section div {
  font-size: 16px;
  color: #000;
}

/* Container structure */
#sort {
  float: right;
  margin: 40px 10px 0 0;
}
#sort > div {
  display: inline-block;
  margin-left: 1em;
}
#tabs {
  margin-top: 30px;
}
#tabs-container {
  margin-top: 1em;
}
#autocomplete-container {
  text-align: left;
}
.addsearch-searchfield {
  margin: 0 auto;
}

/* Mobile */
.mobilemenu {
  display: none;
  float: right;
  margin-right: 10px;
  font-size: 24px;
  cursor: pointer;
  position: relative;
  z-index: 100;
}
.addsearch-searchresults .item {
  clear: both;
  border-bottom: 1px solid #eee;
  display: flex;
  padding: 30px 0;
}
.addsearch-searchresults span {

}
.addsearch-searchresults span b {
  background-color: #dedede;
  margin: 0 3px;
  padding: 2px 6px;
  font-size: 12px;
}
.main-image img {
  width: 120px;
  margin: 10px 20px 0 0;
}

@media all and (max-width: 960px) {
  .mobilemenu {
    display: block;
  }

  main {
    margin: 0;
    padding: 0 20px;
  }

  aside {
    display: none;
    position: absolute;
    width: 100%;
    background-color: #fff;
    border: 1px solid #ddd;
  }

  #sort {
    display: none;
    background-color: red;
  }
}

.tag {
  padding: 5px 15px;
  background: #b9b9b970;
  border-radius: 5px;
  margin-right: 10px;
}