<div class="addsearch-searchresults addsearch-searchresults-no-results">
  <div role="status" aria-live="polite" aria-atomic="true" class="addsearch-sr-only"></div>
  <h2>No search results with keyword <em>{{keyword}}</em></h2>
</div>
