.addsearch-facets {
  ul {
    list-style: none;
    padding: 0;

    li {
      white-space: nowrap;
      overflow: hidden;
      display: block;

      label {
        padding: 2px 0;
        display: block;
        display: flex;
        align-items: center;
        overflow: hidden;
        white-space: nowrap;
        max-width: 100%;

        @media all and (max-width: 960px) {
          padding: 4px 0;
        }

        > span {
          text-overflow: ellipsis;
          display: inline-block;
          max-width: 80%;
          overflow: hidden;
          position: relative;
          padding-right: 3px;
        }
      }
      input[type="checkbox"] {
        margin-right: 7px;
      }
    }
  }

  em {
    font-style: normal;
    color: #666;
    font-size: 80%;
  }
}

.addsearch-range-slider {
  .adds-range-slider-container {
    display: flex;
    flex-direction: column;
    margin: 20px auto;

    .adds-range-slider-control {
      position: relative;
    }

    input[type=range]::-webkit-slider-thumb {
      -webkit-appearance: none;
      pointer-events: all;
      width: 24px;
      height: 24px;
      background-color: #fff;
      border-radius: 50%;
      box-shadow: 0 0 0 1px #C6C6C6;
      cursor: pointer;
    }

    input[type=range]::-moz-range-thumb {
      -webkit-appearance: none;
      pointer-events: all;
      width: 24px;
      height: 24px;
      background-color: #fff;
      border-radius: 50%;
      box-shadow: 0 0 0 1px #C6C6C6;
      cursor: pointer;
    }

    input[type=range]::-webkit-slider-thumb:hover {
      background: #f7f7f7;
    }

    input[type=range]::-webkit-slider-thumb:active {
      box-shadow: inset 0 0 3px #387bbe, 0 0 9px #387bbe;
      -webkit-box-shadow: inset 0 0 3px #387bbe, 0 0 9px #387bbe;
    }

    input[type="range"] {
      -webkit-appearance: none;
      appearance: none;
      height: 2px;
      width: 100%;
      position: absolute;
      background-color: #C6C6C6;
      pointer-events: none;
    }

    input[type="range"][data-id="adds-slider-control-from"] {
      height: 0;
      z-index: 1;
    }
  }
  .adds-range-slider-display {
    display: flex;
    justify-content: space-between
  }
}

