@import "../../variables";

.addsearch-loadmore {
  button {
    border: 1px solid $border-color;
    border-radius: 3px;
    padding: 7px 12px 7px 13px;
    margin: 1em;
    background: #f7f7f7;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    display: inline-block;
    height: 36px;
  }

  span {
    margin: 1em;
    font-size: 16px;
    height: 36px;
    padding: 7px 0;
    display: inline-block;
  }
}