<div class="addsearch-filters-tags">
  {{#each options}}
    <button data-filter="{{@key}}" aria-pressed="{{#if active}}true{{else}}false{{/if}}" {{#if active}}class="active"{{/if}}>{{label}}</button>
  {{/each}}
</div>