<div class="addsearch-filters-selectlist">
  <select aria-label="Filter options">
    {{#each options}}
      <option value="{{@key}}" {{#if active}}selected{{/if}}>{{label}}</option>
    {{/each}}
  </select>
</div>