@import "../../variables";

/* Reset button styles */
.addsearch-filters-tabs,
.addsearch-filters-tags {
  button {
    -webkit-appearance: none;
    -moz-appearance: none;
    margin: 0;
    padding: 0.5em 1.5em;
    display: inline-block;
    cursor: pointer;
    background: #fff;
  }
}


/* Tabs */
.addsearch-filters-tabs {
  .tabs {
    button {
      border: 1px solid $border-color;
      border-right: 0;
      font-size: 18px;
      float: left;

      &.active {
        background-color: $active-background;
      }
      &:last-child {
        border-right: 1px solid $border-color;
      }
    }
  }
  .tabs:after {
    content: " ";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
  }
}


/* Tags */
.addsearch-filters-tags {
  button {
    margin: 1em 0;
    border-radius: 4px;
    border: 1px solid $border-color;

    &.active {
      background-color: $active-background;
    }
  }
}

/* Checkbox and radio button groups */
.addsearch-filters-checkboxgroup,
.addsearch-filters-radiogroup {
  label {
    display: block;
    padding: 4px 0;
  }
  input {
    margin-right: 6px;
  }
}