@import "variables";

.addsearch-filtergroup *,
.addsearch-pagination *,
.addsearch-searchfield *,
.addsearch-searchresults * {
  color: $font-color;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
  appearance: none;
}

// Screen reader only content utility class
.addsearch-sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
