@import "variables";

.addsearch-filtergroup *,
.addsearch-pagination *,
.addsearch-searchfield *,
.addsearch-searchresults * {
  color: $font-color;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}