.addsearch-recommendations {
  display: flex;
  padding: 30px;
  justify-content: space-around;
  max-width: 970px;
}

.addsearch-recommendations .hit .main-image {
  width: 100%;
  min-height: 100px;
  background-repeat: no-repeat;
  background-size: contain;
}

.addsearch-recommendations .hit {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  border: solid 1px #d6d0d0;
  max-width: calc(100% / 3 - 30px);

  &:hover {
    background-color: #f7f7f7;
  }
}


