@import "../../variables";

#searchfield-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.addsearch-searchfield {
  min-width: 260px;
  display: inline-block;
  display: flex;
  flex-direction: row;
  align-items: center;

  input[type=search],
  button {
    border: 1px solid $border-color;
    border-radius: 3px;

  }
  .search-field-wrapper {
    display: inline-block;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    flex-grow: 1;
    height: 36px;
    max-width: 400px;
    border: 1px solid $border-color;
    border-radius: 5px;
    text-align: left;
    margin-right: 3px;
    overflow:hidden;
    float: left;
  }
  svg.search-icon {
    display: inline-block;
    margin-left: 5px;
    margin-bottom: -1px;
    flex-shrink: 0;
    & *  {
      fill: #b1b1b1;
    }

  }

  input[type=search] {
    //width: 100%;
    min-width: 300px;
    max-width: 100%;
    font-size: 16px;
    padding: 7px;
    border:none;
    display: inline-block;
    flex-grow: 1;

    @media all and (max-width: 480px) {
      min-width: 150px;
    }
  }

  button {
    padding: 7px 15px;
    background: #f7f7f7;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    display: inline-block;
    height: 36px;
  }
  @media all and (max-width: 480px) {
    input[type=search],
    button {
      font-size: 16px;
      border-radius: 3px;
      padding: 5px 7px;
    }
  }
}